<div class="container">
  <h1>Hacker News</h1>

  <% if session[:username] %>
    <a href="/logout">Logout</a>
    <a href="/createpost">Create Post</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>

  <ul>
    <li>user: <%= @user_profile.username %></li>
    <li>created_at: <%= @user_profile.created_at %></li>
    <li> comments </li>
    <li> posts </li>
  </ul>


</div>
